/* colors : https://www.behance.net/gallery/32154055/Minimalist-Color-Palettes-2015
green : 99B898
yellow : FECEA8
orange : FF847C
red : E84A5F
black : 2A363B
*/

/* navbar */

.navbar-default {
    background-color: #2A363B;
    color: #ffffff;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a{
    color: #ffffff;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

/* header */

header {
    text-align: center;
    background: #99B898;
    color: #2A363B;
}

header .container {
    padding-top: 200px;
    padding-bottom: 100px;
}

/* section */

section {
    padding: 200px 0;
}

section#contact, section#skills {
    background-color: #99B898;
    color: #2A363B;
}

/* footer */

footer {
    background-color: #2A363B;
    color: white;
}

footer a {
    background-color: #2A363B;
    color: #E84A5F;
}

footer a:hover {
    color: #E84A5F;
}


.btn-outline {
    color: white;
    font-size: 15px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 12px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #E84A5F;
    background: white;
    border: solid 1px white;
}

.btn-social {
    display: inline-block;
    height: 37px;
    width: 37px;
    border: 1px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 35px;
}
.btn:focus,
.btn:active,
.btn.active {
    outline: none;
}

.footer-above {
    padding-top: 50px;
}

.footer-col {
    padding-bottom: 50px;
}

.footer-below {
    padding: 25px 0;
    background-color: #1c2227;
}

/* SKILLS */

ul.no-bullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.filled {
    color: #E84A5F;
}

#skills ul > li .ability-title {
    display: inline-block;
    width: 60%;
}

#skills ul > li .ability-score {
    float: right;
}

/* general */

h1, h2, h3 {
    text-align: center;
}

body {
    color: #2A363B;
}

hr {
    max-width: 250px;
}

section .container {
    max-width: 1280px; padding: 40px 180px;
}
